In [1]:
%matplotlib inline
import sys
print(sys.version)
import numpy as np
print(np.__version__)
import pandas as pd
print(pd.__version__)
import matplotlib.pyplot as plt
from pandas_datareader import data, wb
from datetime import timedelta

3.5.1 |Anaconda 2.4.1 (x86_64)| (default, Dec  7 2015, 11:24:55)
[GCC 4.2.1 (Apple Inc. build 5577)]
1.11.0
0.18.0

In [2]:
altitudes = pd.read_csv('stadium_altitudes.csv')

In [3]:
altitudes

         team  altitude
0      angels       160
1      astros        38
2   athletics        42
3   blue_jays       247
4      braves      1050
5     brewers       593
6   cardinals       455
7        cubs       596
8     d-backs      1082
9     dodgers       267
10     giants        63
11    indians       582
12   mariners        10
13    marlins        15
14       mets        54
15  nationals        25
16    orioles       130
17     padres        13
18   phillies         9
19    pirates       743
20    rangers       616
21       rays        44
22       reds       683
23    red_sox        20
24    rockies      5183
25     royals       750
26     tigers       596
27      twins       812
28  white_sox       596
29    yankees        54

In [4]:
altitudes.set_index('team', inplace=True)
altitudes.head()

           altitude
team
angels          160
astros           38
athletics        42
blue_jays       247
braves         1050

In [5]:
stationmap = {'yankees':'KNYC', 'red_sox':'KBOS', 'orioles':'KBWI', 'rays':'KSPG', 'blue_jays':'KYYZ',
             'mets':'KLGA', 'braves':'KATL', 'phillies':'KPHL', 'nationals':'KDCA', 'marlins':'KMIA',
             'white_sox':'KMDW', 'indians':'KBKL', 'tigers':'KDET', 'royals':'KMKC', 'twins':'KMSP',
             'cubs':'KORD', 'reds':'KLUK', 'brewers':'KMKE', 'pirates':'KPIT', 'cardinals':'KCPS',
             'astros':'KEFD', 'angels':'KSLI', 'athletics':'KOAK', 'mariners':'KBFI', 'rangers':'KDAL',
             'd-backs':'KPHX', 'rockies':'KDEN', 'dodgers':'KCQT', 'padres':'KSAN', 'giants':'KSFO'
             }

In [6]:
closablepark = {'yankees':False, 'red_sox':False, 'orioles':False, 'rays':True, 'blue_jays':True,
             'mets':False, 'braves':False, 'phillies':False, 'nationals':False, 'marlins':True,
             'white_sox':False, 'indians':False, 'tigers':False, 'royals':False, 'twins':False,
             'cubs':False, 'reds':False, 'brewers':True, 'pirates':False, 'cardinals':False,
             'astros':True, 'angels':False, 'athletics':False, 'mariners':True, 'rangers':False,
             'd-backs':True, 'rockies':False, 'dodgers':False, 'padres':False, 'giants':False
             }

In [7]:
teams = pd.DataFrame()

In [8]:
teams['team'] = stationmap.keys()
teams['stationID'] = teams['team'].map(lambda x: stationmap[x])
teams['isclosable'] = teams['team'].map(lambda x: closablepark[x])
teams.set_index('team', inplace=True)
teams.head()

         stationID isclosable
team
mariners      KBFI       True
giants        KSFO      False
red_sox       KBOS      False
braves        KATL      False
angels        KSLI      False

In [9]:
teams = teams.join(altitudes, how='outer')

In [10]:
teams = teams.reset_index()

In [11]:
teams

         team stationID isclosable  altitude
0      angels      KSLI      False       160
1      astros      KEFD       True        38
2   athletics      KOAK      False        42
3   blue_jays      KYYZ       True       247
4      braves      KATL      False      1050
5     brewers      KMKE       True       593
6   cardinals      KCPS      False       455
7        cubs      KORD      False       596
8     d-backs      KPHX       True      1082
9     dodgers      KCQT      False       267
10     giants      KSFO      False        63
11    indians      KBKL      False       582
12   mariners      KBFI       True        10
13    marlins      KMIA       True        15
14       mets      KLGA      False        54
15  nationals      KDCA      False        25
16    orioles      KBWI      False       130
17     padres      KSAN      False        13
18   phillies      KPHL      False         9
19    pirates      KPIT      False       743
20    rangers      KDAL      False       616
21       rays      KSPG       True        44
22    red_sox      KBOS      False        20
23       reds      KLUK      False       683
24    rockies      KDEN      False      5183
25     royals      KMKC      False       750
26     tigers      KDET      False       596
27      twins      KMSP      False       812
28  white_sox      KMDW      False       596
29    yankees      KNYC      False        54

In [12]:
teams.to_csv('Home_Data.csv')